.counter-container {
  text-align: center;
  margin: 20px;
}

.counter-display {
  width: 90px;
  height: 90px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 30px;
  border-radius: 8px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


.app{
  color:  red;
  font-size: 40px;
  margin-left: 43%;
}